<aside
    class="aside"
    #menu
>
    <app-menu-button-desktop>
        <app-logo
            [width]="38"
            [height]="40"
        ></app-logo>
        <img
            src="../../../assets/slogan-white.svg"
            alt="Anglo Mammy"
            class="slogan"
            routerLink = '/home'
        >
    </app-menu-button-desktop>
    <ng-container
        *ngFor="let menuItem of MenuItems; index as i"
    >
        <app-menu-button-desktop
            [routerLink] = "menuItem.routePath"
            [icon]="menuItem.iconClass"
            [text]="menuItem.name"
        ></app-menu-button-desktop>
    </ng-container>
</aside>
