@import '../../theme/desktop.scss';

.aside {
    @include change-width(.3s);

    position: fixed;
    left: 0;
    top: 0;
    width: $menu-width-collapsed;
    height: 100vh;
    background-color: $primary;
    color: $white;
    overflow: hidden;
    font-family: $joker-font;

    &:hover {
        @include change-width(.3s);

        width: $menu-width-expanded;
    }

    .slogan {
        position: absolute;
        left: px-to-rem(50px);
        top: px-to-rem(21px);
    }
}
