@import '../../theme/core-variables.scss';

.header {
    background-color: $dark;

    .wrapper {
        @include container;

        justify-content: space-between;
        align-items: center;
        background-color: $dark;
        color: $white;
        min-height: px-to-rem(65px);
    }
}
