$base-font-size: 16px;

@mixin shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

/* px to rem based on 16px font */
@function px-to-rem($px) {
    @return $px / $base-font-size * 1rem;
}

@mixin basePaddings {
    padding: px-to-rem(8px) px-to-rem(16px);
}

@mixin container {
    @include basePaddings();
}

@mixin baseFont {
    font-family: 'lato', Times, serif;
}

@mixin button {
    @include baseFont();
    @include basePaddings();

    cursor: pointer;
    outline: none;
}

$dark: #414452;
$grey: gray;
$white: white;
