@import '../../theme/core-variables.scss';

:host {
    @include slide-right;

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: px-to-rem(65px);
    z-index: 2;
    overflow: hidden;
    background-color: $dark;

    &:hover {
        width: px-to-rem(240px);
    }
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $light-font-color;
}

.item {
    .logo {
        padding: px-to-rem(6px) px-to-rem(3px);
    }

    .slogan {
        padding-top: px-to-rem(22px);
    }

    .icon {
        display: flex;
        width: px-to-rem(65px);
        height: px-to-rem(55px);
        font-size: px-to-rem(28px);
        align-items: center;
        justify-content: center;
        color: $light-blue;
    }

    .item-text {
        padding-left: px-to-rem(4px);
        white-space: nowrap;
        color: $light-blue;
    }

    &:hover {
        .item-text,
        .icon {
            color: $light-green;
        }
    }
}
